/* Desktop */
.banner-catalog {
  height: 325px;
  border-radius: 16px;
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .banner-catalog {
    height: 250px;
  }
}

/* Mobile */
@media only screen and (max-width: 576px) {
  .banner-catalog {
    height: 180px;
  }
}
