.brand-section {
  display: flex;
  flex-wrap: wrap;
}

.brand-content {
  width: calc(100% / 5);
}

.brand-content > div > div:first-child {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.brand-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
