.ant-btn:hover,
.ant-btn:focus {
  border-color: transparent;
  color: white;
}

.ant-btn:active {
  border-color: transparent;
}

.ant-btn-primary {
  background: var(--primary);
  border-color: var(--primary);
}

.ant-btn-primary:active {
  background: var(--primary);
  border-color: var(--primary);
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: var(--primary);
  border-color: var(--primary);
}

.information .ant-btn {
  border: 1px solid;
}

.button-gradient,
.button-gradient:active,
.button-gradient:hover,
.button-gradient:focus {
  background: var(--primary-gradient);
}

.tab-button {
  background: transparent;
  border: none;
  border-radius: 0;
}

.tab-button:hover,
.tab-button:active,
.tab-button:focus,
.tab-button::after {
  background: transparent;
  border: none;
  border-radius: 0;
  color: inherit;
  border-bottom: 3px solid var(--primary);
}

.tab-button.active {
  border-bottom: 3px solid var(--primary);
}

.ant-btn-disabled {
  background: var(--disabled);
  border-color: var(--disabled);
  cursor: not-allowed;
}

.ant-btn-disabled:active {
  background: var(--disabled);
  border-color: var(--disabled);
}

.ant-btn-disabled:hover,
.ant-btn-disabled:focus {
  background: var(--disabled);
  border-color: var(--disabled);
}
