* {
  --filter-width: 305px;
  --image-height: 252px;
  --image-height-tablet: 350px;
  --image-height-mobile: 250px;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
}

.catalog-container .catalog-filter {
  width: var(--filter-width);
}

.catalog-container .catalog-product-content {
  width: calc(100% - var(--filter-width));
  /* max-width: 1000px; */
}

/* Card Produk */
.card-product {
  /* max-width: 300px; */
  margin: 10px 0;
  box-shadow: 0 0 5px 3px rgb(0, 0, 0, 0.08);
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
}

.card-product-image {
  width: 100%;
  height: var(--image-height);
  /* background-color: rgb(255, 187, 0); */
  position: relative;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-product-label {
  position: absolute;
  top: -3px;
  left: -30px;
  background-color: #fff;
  padding: 15px 35px 8px 35px;
  transform: rotate(-45deg);
  box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.1);
  font-weight: 500;
  color: #aa8f00;
}

.card-product-discount {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: red;
  color: white;
  font-weight: 900;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-product-favorite {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: white;
  color: gray;
  font-weight: 900;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px 1px rgb(0, 0, 0, 0.09);
}

.card-product-detail {
  padding: 16px;
}

.card-product-title {
  color: #202020;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-product-brand {
  font-weight: 600;
  color: #828282;
}

.card-product-price {
  padding: 0 16px;
  padding-bottom: 16px;
}

.card-product-price-main {
  font-size: 18px;
  color: #aa8f00;
  font-weight: 700;
}

.card-product-price-second {
  font-size: 14px;
  color: #828282;
  text-decoration: line-through;
  font-weight: 500;
}

.card-product-color {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}

.card-product-color .color {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #202020;
  margin: 0 2.5px;
}

/* Card Filter */
.card-filter {
  margin-right: 25px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 0 6px 3px rgb(0, 0, 0, 0.08);
  overflow: hidden;
}

.card-filter-header {
  padding: 16px;
  text-align: center;
  background-color: #fff9de;
  font-weight: 600;
  font-size: 18px;
  color: #aa8f00;
}

.card-filter-footer {
  padding: 16px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  border-top: 1px solid #bdbdbd;
}

.card-filter-container {
  padding: 16px 8px 16px 16px;
  border-bottom: 1px solid #bdbdbd;
}

.card-filter-content {
  padding-right: 16px;
  max-height: 250px;
  overflow-y: auto;
}

.card-filter-content-title {
  font-size: 18px;
  color: #aa8f00;
  padding-bottom: 16px;
}

.card-filter-content-body {
  /* height: 1000px; */
}

.card-filter-content::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

.card-filter-content::-webkit-scrollbar-track {
  background: #e5e5e5;
  border-radius: 8px;
}

/* Handle */
.card-filter-content::-webkit-scrollbar-thumb {
  background: #828282;
  border-radius: 8px;
}

/* Handle on hover */
.card-filter-content::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 8px;
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .catalog-container .catalog-filter {
    display: none;
  }

  .catalog-container .catalog-product-content {
    width: 100%;
  }

  .card-product-image {
    height: var(--image-height-tablet);
  }
}

@media only screen and (max-width: 576px) {
  .card-product-image {
    height: var(--image-height-mobile);
  }
}
