.ant-collapse-header .anticon svg {
  margin-top: 0;
}

.ant-collapse > .ant-collapse-item,
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: none;
}

.ant-collapse-item {
  margin-bottom: 12px;
}

.ant-collapse {
  background-color: transparent;
}

.ant-collapse-borderless {
  background-color: transparent;
}
