.shoesmart-container {
  max-width: 1180px;
  padding: 25px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .shoesmart-container {
    max-width: 75%;
    padding: 25px;
  }
}

@media only screen and (max-width: 576px) {
  .shoesmart-container {
    max-width: 100%;
    padding: 15px;
  }
}
