.collapse-filter.ant-collapse-icon-position-right
  > .ant-collapse-item
  > .ant-collapse-header {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid #bdbdbd;
  padding: 10px 0;
}

.collapse-filter.ant-collapse-icon-position-right
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  right: 0;
}

.collapse-filter.ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.collapse-filter .ant-collapse-item {
  margin-bottom: 0;
}

.size-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.size-box {
  width: 40px;
  height: 40px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: #202020;
}
.size-box.active {
  background-color: var(--primary);
  border: none;
  color: white;
}
