.ant-input:focus,
.ant-input:hover,
.ant-input-focused {
  border-color: var(--primary);
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  box-shadow: 0 0 0 2px rgb(235 146 1 / 10%);
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: var(--primary);
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary);
  border-color: var(--primary);
}

.ant-checkbox-checked::after {
  border-color: var(--primary);
}

.ant-radio-checked .ant-radio-inner,
.ant-radio:hover {
  border-color: var(--primary);
}

.ant-radio-inner::after {
  background-color: var(--primary);
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: var(--primary);
}

.ant-radio-checked::after {
  border: 1px solid var(--primary);
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: var(--primary);
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: var(--primary);
  -webkit-box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  box-shadow: 0 0 0 2px rgb(235 146 1 / 10%);
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: var(--primary);
  -webkit-box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  box-shadow: 0 0 0 2px rgb(235 146 1 / 10%);
}

.ant-select-arrow .anticon svg,
.ant-form-item-control-input .anticon svg,
.ant-picker-suffix .anticon svg {
  margin-top: 0;
}

.input-right input {
  text-align: right;
}
