* {
  --page-size: 35px;
}

.alpha-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.alpha-page {
  width: var(--page-size);
  height: var(--page-size);
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.alpha-page:first-child {
  margin-left: 0;
}
.alpha-page:last-child {
  margin-right: 0;
}

.alpha-page.active,
.alpha-page:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--primary);
  font-weight: 500;
}
