.ant-steps-item-finish .ant-steps-item-icon {
    background-color: #eb9200;
    border-color: #eb9200;
  }
  
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #CC7F00;
    font-weight: bold;
  }
  
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #202020;
  }
  
  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: white;
  }
  
  .ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
    min-height: 80px;
  }
  
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: #eb9200;
  }
  
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
    background: #eb9200;
  }
  
  .ant-steps-item-process .ant-steps-item-icon {
    border-color: #eb9200;
  }
  
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: #eb9200;
  }
  
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: #eb9200;
  }
  
  .ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail::after {
    width: 2px;
  }
  
  .ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail {
    padding: 0px 0 0px;
  }
  
  .anticon svg {
    margin-top: 7px;
  }
  
  .ant-steps-item-wait .ant-steps-item-icon {
    background-color: #eb9200;
    border-color: #eb9200;
  }