.ant-table {
  border-radius: 8px;
}

.ant-table-thead > tr > th {
  background: var(--primary);
}

tr:nth-child(even) {
  background-color: var(--primary-light);
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

.ant-table-container table > tbody > tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.ant-table-container table > tbody > tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.ant-table-thead > tr > th {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

table tr th.ant-table-selection-column,
table tr td.ant-table-selection-column {
  padding-left: 14px;
}

.ant-pagination-prev,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  margin: 0;
}

.ant-pagination-item {
  margin: 0;
}

.ant-tooltip-open {
  background: var(--primary);
}

.ant-table-thead th.ant-table-column-sort {
  background: var(--primary);
}

td.ant-table-column-sort {
  background: none;
}

.ant-table-column-sorter {
  color: white;
}

.ant-pagination-item-active a,
.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  color: var(--primary);
}

.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover,
.ant-pagination-item-active,
.ant-pagination-item:focus,
.ant-pagination-item:hover {
  border-color: var(--primary);
}

.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: var(--primary);
}

.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: var(--primary);
  border-color: var(--primary);
}
