@import "./variable.css";
@import "./components/table.css";
@import "./components/input.css";
@import "./components/button.css";
@import "./components/sidebar.css";
@import "./components/step.css";
@import "./components/collapse.css";
@import "./components/card.css";
@import "./components/banner.css";
@import "./components/catalog.css";
@import "./components/filter.css";
@import "./components/tooltip.css";
@import "./components/container.css";
@import "./components/pagination.css";
@import "./components/brand.css";
@import "./components/menu.css";
@import "./components/tab.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: var(--primary);
}

* {
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.ant-input-group-addon {
  background-color: white !important;
}

.ant-input-group-addon:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.ant-input-group-addon:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.ant-input-group .ant-input {
  border-left: none;
  border-right: none;
}

.ant-input-group .ant-input:hover,
.ant-input-group .ant-input:focus {
  border-color: #d9d9d9 !important;
}

.ant-form-item-label {
  text-align: left;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.ant-layout-sider {
  height: 100vh;
  background-color: white;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none;
}

.main-container {
  margin-left: 0;
}

.ant-form-item-label > label::after {
  content: "";
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: "";
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding: 4px 16px;
  height: 40px;
}

.ant-select-multiple .ant-select-selector {
  padding: 4px 4px;
  height: 40px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 0.5rem;
}

.ant-alert {
  border: none;
  border-radius: 8px;
  justify-content: center;
}

.ant-alert-content {
  flex: none;
  -webkit-box-flex: unset;
}

.ant-alert-success {
  background-color: #5cb85c;
}

.ant-alert-message {
  color: white;
}

.ant-tabs-tab{
  padding: 12px 10px;
  margin: 0;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin: 0;
}

.ant-alert-success .ant-alert-icon {
  color: white;
}

.anticon {
  display: block !important;
}

.ant-menu-submenu-title svg {
  margin-right: 10px;
}

.ant-modal-close-x {
  display: flex;
}

::selection {
  color: #fff;
  background: var(--primary);
}

html {
  --antd-wave-shadow-color: var(--primary);
}

.swiper-wrapper .swiper-slide.navbar-menu {
  width: auto;
}

html {
  scroll-behavior: smooth;
}
